.Brief-description {
	text-align: justify;
	hyphens: auto;
}

.Brief-description-header {
	font-weight: bold;
}
.brief-description-button {
	border-radius: 105px;
	display: flex;
	font-weight: 700;
	align-items: center;
	border: 2px solid black;
}
/* .brief-description::before {
	content: "";
	display: block;
	height: 70px;
	margin-top: -70px;
	visibility: hidden;
} */
.font-weight-bold {
	font-size: 1.8rem;
}
.Brief-description-image {
	height: 400px;
	max-width: 350px;
	object-fit: cover;
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.381));
}
