.frame-paragraph {
	background-color: rgba(255, 255, 255, 0.694);
	box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 90%;
}
.frame-paragraph-text {
	text-align: justify;
	hyphens: auto;
}
