.blog-side-image {
	height: 450px;
	object-fit: cover;
}
.blog-side-image-text {
	text-align: left;
	font-size: 1.1rem;
	color: #323334;
}
.blog-side-image-header {
	line-height: 2.8rem !important;
}
@media only screen and (max-width: 989px) {
	.blog-side-image-header {
		line-height: 1.2 !important;
	}
}
