.hard-cover-row {
	background-image: url("../../Assets/Home/ParagraphSection.webp");
}
.home .container-description {
	padding-left: 0 !important;
}
.home-description-section {
	padding-bottom: 1rem;
}
