.card-doctor-home-container {
	background-color: transparent;
	border-radius: 0;
}
.card-doctor-home-row {
	/* --bs-gutter-x: 0 !important; */
}

.home-doctor .ant-card-body {
	padding-bottom: 0 !important;
}
.progress-bar {
	width: 60px !important;
	background-color: #323334 !important;
}
.progress {
	height: 6px !important;
	background-color: #016245 !important;
	border-radius: 0 !important;
}
.home-doctor-text-header {
	font-size: 0.7rem;
	text-align: left;
	color: #5d5f6d;
}
.home-doctors-animation-text-container {
	flex-direction: row;
	align-items: center;
	bottom: 0;
	padding-bottom: 1rem;
	margin-right: 6rem !important;
	justify-content: end;
	font-size: 1.5rem;
	font-weight: bold;
}
@media only screen and (max-width: 880px) {
	.home-doctors-animation-text-container {
		padding-right: 0 !important;
		justify-content: center;
	}
}
