.privacy-policy {
	font-weight: 500;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	text-align: justify;
	font-size: 1.9rem;
}
.Privacy-cover {
	height: 100vh;
	display: flex;

	align-items: flex-end;
	justify-content: center;
	color: #323334;
	text-shadow: 6px 7px 6px rgba(0, 0, 0, 0.29);
}
.Privacy-cover h1 {
	font-size: 7rem;
	line-height: 93px;
	margin-bottom: 7rem;
	font-weight: bold;
}
.Privacy-logo {
	position: relative;
}

.privacy-logo-left {
	/* z-index: -1; */
	position: absolute;
	right: 0;
	bottom: 0;
	width: 20%;
}
