.image-brief-description-header {
	font-weight: bold;
}

.image-brief-description-subtitle {
	font-size: 1.8rem;
	font-weight: 700;
}
.image-Brief-description {
	text-align: justify;
	hyphens: auto;
	font-weight: 400;
}
.image-Brief-description-image {
	/* height: 380px; */
	max-width: 350px;
	object-fit: cover;
	float: left;
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.381));
}
@media only screen and (max-width: 770px) {
	.image-Brief-description-image {
		float: none;
	}
}
