.left-title-home-cover-text {
	position: absolute;
	z-index: 1;
	height: 100%;
	max-width: 550px;
	text-align: left;
	margin-left: 4rem;
}
.left-title-home-cover-container {
	position: relative;
}
.logo-right {
	z-index: 1;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 15%;
	font-size: 4rem;
}
.left-title-home-cover {
	height: 100vh;
	position: relative;
	object-fit: cover;
}
.clinic-name {
	font-size: 2rem;
	font-weight: 300;
}
.clinic-specialty {
	font-size: 3rem;
	font-weight: bold;
}
.home-cover-button {
	background-color: transparent;
	border-radius: 0;
	display: flex;
	border: 2px solid black;
	font-weight: bold;
	border-radius: 105px;
	font-weight: 400;
	align-items: center;
}
.video-cover {
	object-fit: cover;
}
.home-cover-button {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
	margin-top: 1.6rem;
}

@media only screen and (max-width: 920px) {
	.left-title-home-cover-text {
		margin-left: 2rem !important;
	}
	.left-title-home-cover {
		height: 45vh !important;
	}
	.clinic-name,
	.clinic-specialty {
		font-size: 1.6rem;
	}
	.home-cover-button {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
	}
}
@media only screen and (max-width: 600px) {
	.left-title-home-cover {
		height: auto;
	}
	.clinic-name,
	.clinic-specialty {
		font-size: 1.2rem;
	}
	.left-title-home-cover-text {
		max-width: 300px;
	}
}
