/* .footer-column {
	flex: 1;
	display: block;
} */
.footer-column h5 {
	font-weight: bold;
}
.footer-right-content {
	display: flex;
	justify-content: flex-end;
}

/* .footer-col {
	display: flex;
	flex-direction: column;
} */

ul {
	list-style: none;
	padding: 0 !important;
}
.footer-social-media-container {
	display: block;
	width: 170px;
	font-weight: bold;
}

.footer-social-media-icon {
	font-size: 1.25rem;
	color: #016245;
}

.footer-bar {
	text-align: center;

	background-color: #d9d9d9;
}

.footer {
	background-color: #ffffff;
	text-align: left;
	padding-bottom: 0% !important;
}
.footer-link {
	text-decoration: none;
	color: #323334;
}
.footer-link:hover {
	color: #b9b7b7;
}
.footer-description-title {
	font-style: normal;
	font-weight: 700;
	font-size: 1.4rem;
}
